<h1 align="center">Under construction</h1>


<div class="shoplist">

<h2 align="center"><div class="button"><%= link_to 'City list', city_path(@city) %></div><h2>
</div>

  <h1 align="center"> <img src="https://media.giphy.com/media/OMeGDxdAsMPzW/giphy.gif" alt="COnstruction" class="construction"/></h1>
