<h1>JAVA HUNT</h1>
<h2>how you brewin?</h2>

<h1> <img src="https://media.giphy.com/media/inECjKmGYzGms/giphy.gif" alt="Coffee" class="coffeegif"/></h1>

<h2 align="center"><div class="button"><%= link_to 'Start Hunting', cities_path %></div><h2>
