body {
  color: white;
  background-color: black;
}
.coffeeproperties {
  list-style: none;
}

.links {
  padding-top: 75px;
  color: yellow;
  size: 12px;
}

.div_top{
  background-image: url("https://media.giphy.com/media/U6P1Lp8tbZBfy/giphy.gif");
  height: 500px;
  width: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-attachment: fixed;
}

div.shop [data-supports='true'] {
  color: white;
  font-weight: bolder;
  text-decoration: underline;

}

.JavaHunt {
  font-family: Impact;
  font-size: 60px;
  text-align: center;
}

.brewin {
  font-family:cursive;
  font-size: 48px;
  text-align: center;
}

.shopname {
  font-size: 24px;
  color: yellow;

}
.properties {
  font-family: arial;
  color: purple;
}
.titles {
  font-family: Impact;
  font-size: 50px;
  color: black;
}
.citylist {
  list-style: none;
  font-size: 40px;
  color: white;
}
 .links {
   font-size: 20px;
 }
 .form {
   color: yellow;
   font-family: helvetica;
   font-size: 16px;
 }
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
